@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
body{
    background-color:lightpink
}

#colr{
    text-transform:capitalize;
    text-shadow:2px 2px 8px red;
    /* font-family: */
}
.img{
    vertical-align:super;
}
p{
    display:block;
}
/* #space{
    word-spacing :20px;
    letter-spacing: 5px;
    white-space:normal,pre;
    line-height:4em;
    text-indent:50px;
    font-family: 'Bungee Spice', cursive; */ 