body{
    background-color:white;
    height:100vh;
    margin:auto;
}
body #outer{
    display:flex;
    justify-content:center;
}
body #outer #inner{
    /* height:50vh; */
    /* width:45vh; */
    padding:50px;
    margin:5%;
    background-color:white;
    border:10px  black;
    
}
body #outer #inner form #header{
    text-align:center;
    font-family:serif;
    font-size:15px;
    font-weight:bold;
    
}
body #outer #inner form #body{
    display:block;
    align-content:center;
    margin:auto;
    justify-content:center;

}
body #outer #inner form #body .input1{
    margin-bottom:12px;
    margin-left:15%;
    margin-right:10%;
}